/* サイドバーの余白調整 */
ul {
    margin-bottom: 0;
    padding-left: 20px;
}

/* 表の枠線 */
table,
th,
td {
    border: 3px solid #000;
}

/* 入力エリアの横幅40文字 */
table input,
table textarea {
    width: 40ch;
}

/* ボタン調整 */
.button-confirm {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 43px;
}